/* CultivoInsumosTable.css */

.cultivo-insumos-table {
  font-family: Arial, sans-serif;
  margin-top: 50px;

  h3 {
    color: #3a3a3a;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 14px;
  }

  th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  td {
    background-color: #f9f9f9;
  }

  tr:nth-child(even) {
    background-color: #f4f4f4;
  }

  .total-row {
    font-weight: bold;
    background-color: #e8f5e9; /* Suave verde */
    color: #2e7d32; /* Verde oscuro */
    font-size: 15px;
  }
}

/* Estilos para los filtros */
.filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;

  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 14px;

    &:focus {
      border-color: #4caf50;
      outline: none;
    }
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .cultivo-insumos-table {
    font-size: 12px;

    th,
    td {
      padding: 10px;
    }
  }

  .filter-container {
    flex-direction: column;
    gap: 10px;

    input {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
