.farm-card {
  .card-finca {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem;
    border-radius: var(--border-radius-2);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: space-between;
    position: relative;

    &:hover {
      background-color: var(--color-light);
      transform: translateY(-5px);
    }

    &.selected {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .icon-container {
    background-color: #14B814;
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;  /* Para que el contenido ocupe el espacio disponible */
    min-width: 0;  /* Esto es importante para permitir que el texto se trunque */
  }

  .info {
    max-width: 150px; /* Ajusta esto según tu diseño */
    overflow: hidden; /* Asegura que el contenido no se desborde */
  }

  .info h3 {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;        /* No permite que el texto salte a una nueva línea */
    overflow: hidden;           /* Oculta cualquier contenido que se salga del contenedor */
    text-overflow: ellipsis;    /* Muestra "..." si el texto es demasiado largo */
  }

  .info small {
    font-size: 0.85rem;
    color: var(--color-info-dark);
  }

  .actions {
    display: flex;
    gap: 1rem;
  }

  .actions svg {
    font-size: 1.5rem;
  }

  .actions svg:hover {
    transition: all 0.2s ease;
  }
}
