/* Overlay del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenido del modal */
.modal-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: translateZ(0);
  max-height: 80vh; /* Limita la altura en pantallas pequeñas */
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;

  &:hover {
    color: #ff6b6b;
  }
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2d2d42; /* Azul oscuro */
  font-size: 24px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.input-group {
  flex: 1 1 100%;
  margin-bottom: 20px;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:focus {
      box-shadow: 0px 0px 8px 2px rgba(39, 174, 96, 0.3);
      outline: none;
    }
  }

  .readonly-input {
    background-color: #f3f3f3;
    color: #666;
  }
}

/* Botón de enviar centrado y con diseño rectangular verde */
.submit-btn {
  display: block;
  width: 60%; /* Ajusta el ancho para centrarlo */
  margin: 20px auto 0; /* Centra el botón */
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px; /* Bordes más rectangulares */
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;

  &:hover {
    background-color: #218838;
  }
}

.error-message {
  color: #ff6b6b;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* Ajustes de responsividad para pantallas pequeñas */
@media (max-width: 500px) {
  .modal-content {
    padding: 20px;
    width: 90%;
    max-height: 70vh; /* Ajusta el alto en pantallas pequeñas */
  }

  h2 {
    font-size: 18px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px;
  }
}
