.rentabilidad-container {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
  }
  

  
  .general-info-card {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .general-info-card h4 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  
  .expenses-section, .income-section {
    margin-top: 20px;
    text-align: left;
  }
  
  .expenses-section h5, .income-section h5 {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .expense-table, .income-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
  }
  
  .expense-table th, .income-table th,
  .expense-table td, .income-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .expense-table th, .income-table th {
    background-color: #f0f0f0;
  }
  
  .table-row {
    background-color: #fff;
  }
  
  .table-row:hover {
    background-color: #f9f9f9;
  }
  
  .expense-table button, .income-table button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .expense-table button:hover, .income-table button:hover {
    background-color: #388e3c;
  }
  
  .total-value, .utility-value {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    text-align: right;
    margin-top: 10px;
  }
  
  .utility-value {
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
  